body {
  text-align: center;
  font: 1em sans-serif;
}

#molto-pazzo {
    text-align: center;
    position: fixed;
    bottom: -350px;
    right: 0;
    will-change: bottom;
    transition: bottom 1s;
}

#molto-pazzo:hover {
  bottom: 0;
}

#molto-pazzo div {
  display: none;
}

#molto-pazzo:hover div {
  display: block;
}


#molto-pazzo1 {
    text-align: center;
    position: fixed;
    left: -350px;
    top: 0;
    will-change: left;
    transition: left 1s;
    transform: rotate(90deg);
}

#molto-pazzo1:hover {
  left: 0;
}

#molto-pazzo2 {
    text-align: center;
    position: fixed;
    top: -350px;
    left: 150px;
    will-change: top;
    transition: top 1s;
    transform: rotate(180deg);
}

#molto-pazzo2:hover {
  top: 0;
}
